Repository dooboolab-community/dooboo-ui, pull requests merged in 2021-07, with the labels that each got.

#35 Upgrade expo sdk 41.0.1
  .vscode/settings.json
  docs/package.json
  jest.config.js
  main/Snackbar/index.tsx
  metro.config.js
  package.json
  packages/PinchZoom/index.tsx
  tsconfig.json
  yarn.lock
Labels: 🚽 migration

#36 Update packages
  .github/workflows/deploy-docs-staging.yml
  .github/workflows/deploy-docs.yml
  .storybook/addons.js
  App.tsx
  docs/.storybook/main.js
  docs/package.json
  docs/yarn.lock
  jest.config.js
  package.json
  tsconfig.json
  tsconfigBuild.json
  yarn.lock
Labels: :package: update packages, 🚽 migration

#38 Add more icons
  CHANGELOGS.md
  docs/src/assets/doobooui.ttf
  docs/src/components/Icon/Default.tsx
  lib/package.json
  main/Icon/doobooui.ttf
  main/Icon/index.tsx
  main/Icon/selection.json
  stories/dooboo-ui/IconStories/IconStory.tsx
Labels: 🍗 enhancement

#37 Fix edit text styles
  main/EditText.tsx
  main/__tests__/EditText.test.tsx
  main/__tests__/__snapshots__/EditText.test.tsx.snap
Labels: EditText, 🍗 enhancement

#39 Add `comment-light` icon
  CHANGELOGS.md
  docs/src/assets/doobooui.ttf
  docs/src/components/Icon/Default.tsx
  lib/package.json
  main/Icon/doobooui.ttf
  main/Icon/index.tsx
  main/Icon/selection.json
  stories/dooboo-ui/IconStories/IconStory.tsx
Labels: :small_blue_diamond: assets, 🍗 enhancement

#40 Enhance `typings` in [ButtonGroup] to receive different props for data
  CHANGELOGS.md
  lib/package.json
  main/ButtonGroup.tsx
Labels: ❄️ types, 🍗 enhancement

#41 Add [Button] type=`light`
  CHANGELOGS.md
  docs/src/components/Button/Basic.tsx
  docs/src/components/Button/Outlined.tsx
  lib/package.json
  main/Styled/StyledComponents.tsx
  main/__tests__/Button.test.tsx
  main/theme/colors.ts
  stories/dooboo-ui/ButtonStories/ButtonDefaultStory.tsx
Labels: Button, 🍗 enhancement
